.font-bebas {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.font-jost {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.text-Abang {
  color: #bc002d;
}

.text-ireng {
  color: #202020;
}

.bg-ireng {
  background-color: #202020;
}

.bg-abang {
  background-color: #bc002d;
}

.ikon {
  font-size: 25px;
}

.border-ireng {
  border-color: #202020;
}

.btn-custom {
  border: 2px solid #6c3517;
  color: #6c3517;
  background: white;
  transition: all 0.3s ease;
}

.btn-custom.active {
  background: #6c3517;
  color: white;
}


.border-abang {
  border-color: #bc002d;
}

    .experience {
      transition: background-image 0.6s ease-in-out;
    }
    .thumb.active {
      border: 3px solid white;
      transform: scale(1.05);
    }